# NPU环境依赖的包
decorator
attrs
psutil
absl-py
cloudpickle
ml-dtypes
scipy
tornado

# jupyter包
ipykernel
matplotlib

# Torch环境依赖的包
pyyaml
numpy==1.26.4
torch==2.4.0
torch_npu==2.4.0

# DeepSeek依赖的包
transformers==4.46.3
safetensors>=0.4.5
flask
